# .env file

JWT_SECRET="random#secret"
STRIPE_SECRET_KEY="sk_test_51PZrwyRsfdEcQakTPxHFeRtBwLuZW6j6iMWrh0eipXjCLwDRf9LaAd5grHGfP9KSjgH0dObpyEAhTMImuKcAesRU008pi0EBGv"

## Paste these secret keys in .env file
## JWT_SECRET is a random secret key
## STRIPE_SECRET_KEY is the secret key of your stripe account

# ----------------------------------------------------------------------

# db.js file

await mongoose
    .connect(
      "mongodb+srv://sanuligehara:20051207@cluster0.s8capwx.mongodb.net/Food-Delivery"
    )

## replace the link inside .connect() for your databases connection link